<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573908263744-4p0p01mbfi21d8ctpg5uu3tcsvs38vdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573908263744-4p0p01mbfi21d8ctpg5uu3tcsvs38vdb</string>
	<key>API_KEY</key>
	<string>AIzaSyC7U_tWNoereQsiPvYWEh7T6QrShqr7KcE</string>
	<key>GCM_SENDER_ID</key>
	<string>573908263744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triontechnologies.wemark</string>
	<key>PROJECT_ID</key>
	<string>wemark-73116</string>
	<key>STORAGE_BUCKET</key>
	<string>wemark-73116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:573908263744:ios:a5e65f9f68213497</string>
	<key>DATABASE_URL</key>
	<string>https://wemark-73116.firebaseio.com</string>
</dict>
</plist>